<div class="container">
    <button class="btn btn-outline-primary mb-3" (click)="goToDepartmentItemComponent()">Create New Department</button>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Department Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>   
            <tr *ngFor = "let item of departmentService.department">
            <td>{{"item!.depName"}}</td>
            <td>
                <button class="btn btn-outline-secondary"(click)="openEditDialog(item)">Edit</button>
                |<button class="btn btn-outline-danger"(click)="deleteDepartment">Delete</button>
           </td>
            </tr>                     
        </tbody>
      </table>     
</div>

<ng-template #editForm>
  <form>
    <div class="form-group">
      <label for="depName">Department Name</label>
      <input [(ngModel)]="department!.depName" name="depName" id="depName" class="form-control" />
    </div>
  </form>
</ng-template>

<!--
<ngb-modal #editModal>
  <ng-template ngbModalHeader>
    Edit Job
  </ng-template>
  <ng-template ngbModalBody>
    <ng-container *ngTemplateOutlet="editForm"></ng-container>
  </ng-template>
  <ng-template ngbModalFooter>
    <button (click)="editModal.close()" class="btn btn-secondary">Cancel</button>
    <button (click)="updateDepartment()" class="btn btn-primary">Save Changes</button>
  </ng-template>
</ngb-modal>
-->